
*{
   margin:0px;
   padding:0px;
   box-sizing: border-box;
   font-family:sans-serif;
}
nav{
   padding: 25px 10px;
}
.nav-bar{
   justify-content: center;
   display: flex;
   list-style-type: none;
   flex-wrap: wrap;

}
.nav-link{
   text-decoration: none;
   margin: 10px;
   font-size: 1rem;
   color:black;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.container{
   width: 90%;
   margin: 0 auto;
}
.banner{
   display: flex;
   flex-direction: column;
   justify-content: center;
 align-items: center;
}
.banner-subheading{
   color:orange;
   font-size: 20px;
   font-weight: bold;
}
.banner-heading{
   margin-top: 10px;
   font-size: 3rem;
   line-height: 3rem;
   font-family: serif;

}
.paragraph{
   color:grey;
   font-size: 1rem;
   line-height: 1.5rem;
   letter-spacing: 2px;
}
.banner-action{
   margin-top: 15px;
   display: flex;
   justify-content: start;
   align-items: center;
}
.findmore{
   text-decoration: none;
   padding: 16px 25px;
   border-radius: 10px;
   border: 1px solid orange;
   color:black;
   transition: color 1s, background-color 1s;
}
.findmore:hover{
   background-color:orange ;
     color:white ;
}
.playbutton{
   border-radius: 50%;
   background-color: tomato;
   height: 50px;
   width: 50px;
   display:flex;
   margin-left: 10px;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   box-shadow: 2px 2px 2px 2px lightgray;
   
}

.bannerimg{
   margin-top:20px ;
   width: 500px;
   height: 600px;

}
.section-heading{
   text-align: center;
   color:darkgrey;
   font-size: small;
}
.tagline{
   text-align: center;
   font-size: 2.3rem;
   font-weight: bolder;
}
.category-list{
   display: flex;
   flex-direction: column;
   margin-top: 6rem;
   justify-content: center;
}
.category-item{
 text-align: center;
 padding: 12px;
 width: 80%;
 margin: 2%;
 display: flex;
 flex-direction: column;
 align-items: center;
 flex-wrap: wrap;

}
.category-item:hover{
   border-radius: 10%;
   box-shadow: 5px 5px 5px 5px lightgray;
   cursor: pointer;

}
.category-img{
   width: 100px;
   height: 100px;
   object-fit: cover;

}
.category-title{
   font-weight: bold;
   text-align: center;
   font-size: 1.3rem;
}
.category-content{
   color: gray;
   margin-top: 10px;
   line-height: 1.5rem;
   text-align: center;

}
.dest-list
{
   margin: 6rem;
   justify-content: center;
   display: flex;
   flex-direction: column;
}
.dest-img{
   width: 100%;

}
.footer {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
.footer-ul{
   list-style-type: none;

}
.footer-ul>li:hover{
   color: gold;
   cursor: pointer;


}
.reserved{
   margin-top: 4rem;
   margin-bottom: 30px;

}
.reserved-p{
   text-align: center;
}


/* for laptop */

@media screen and (min-width:1024px){
   .nav-bar{
      justify-content: end;

   }
   .nav-link{
      font-size: 1.3rem;
   }
   .banner-heading{
      font-size: 7rem;
      line-height: 7rem;

   }
    .banner{
       flex-direction: row;
    }
    .category-list{
      display: flex;
      flex-direction: row;
   }
   .banner-content{
      font-size: 1.5rem;
      line-height: 1em;
   }
   .banner-img{
      margin-top: 20px;
      width: 600px;
      height: 650px;
   }
   
   .dest-list{
      flex-direction: row;
   }
.footer{
   flex-direction: row;
   height:300px;
   padding-top: 10%;
}

}